.App
{
display: grid;        
justify-content: center;
align-items: center;
background-image: url(D:\Rodrigo\Documentos\codes\frontend-mentor\order-summary-component\src\Components\pattern-background-desktop.svg);
background-size: cover;
background-position: right;
  //background-position-y: center;
background-position-y: -95px;
}